.graficoItem{
    border: 1px black solid;
    border-radius: 5px;
    width: 100%;
}
.graficos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.graficoItemContent{
    
}
.grafico{
    max-width: 400px;
    height: 300px;
    margin: auto;   
}
.tituloEstatisticas{
    margin-top: 30px;
}
@media (max-width:1330px) {
    .graficos{
        grid-template-columns: 1fr 1fr;
        
    }
    .graficoItem{
        
    }
}
@media (max-width:1017px) {
    .graficos{
        grid-template-columns: 1fr;
    }
    .graficoItem{
      width: 100%;
      border: none;   
    }
}
@media (max-width:700px) {
   .graficoItem{
    border: none;
   }
}