.TelaListaJogadores{
    padding: 3%;
}
.TelaListaJogadoresTitulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TelaListaJogadoresTituloLeft{
  display: flex;
  align-items: center;    
}
.TelaListaJogadoresTituloRigth{
    min-width: 400px;
}
.texto_quant_jogadores{
    margin: 10px 0px 20px 10px;
    color: grey;
}
.btnComprar{
    display: flex;
    justify-content: flex-end;
}
.TelaListaJogadoresMenu{
   margin-right: 20px;
   font-size: 22px;
   cursor: pointer;
}
.TelaListaJogadoresMenu:hover{
   color: cadetblue;
}
.TelaListaJogadoresMenuSaldo{
    margin-right: 20px;
    font-size: 22px;
    color: red;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.naoEncontrado{
   position: relative;
   text-align: center;
   margin-top: 80px;
   color: grey;
}
.paginacao{
    display:flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: auto;
}
.containerDaTabela{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (max-width:800px) {
    .td_nome{
       min-width: 180px;
    }
    .td_clube{
       min-width: 260px;
    }
    .td_over{
       min-width: 80px;
    }
    .td_posicao{
       min-width: 120px;
    }
   .paginacao{
      justify-content: center;
   }
   .autocomplete{
      width: 100%;
   }
   .TelaListaJogadoresTituloLeft{   
      margin: 20px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .TelaListaJogadoresTituloRigth{
    min-width: 100%;
}
   .TelaListaJogadoresTitulo{
      display: block;
   }
   .table{
    width: 600px;
}
   .tabela{
       overflow-x: scroll;
   }
   .TelaDeElencoHeader{
    display: flex;
    justify-content: space-between;
   }
}