.tabelaDeElencos{
    
    margin: auto;
}

.TelaDeElencoContainer{
    padding: 5%;
}

.TelaDeElencoHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    height: 50px;
}
.TelaDeElencoHeaderMobile{
    display: none;
}
.TelaDeElencoHeaderDesktop{
    display: flex;
}
.elencoBtns{
    display: flex;
    justify-content: flex-end;
}
@media (max-width:800px) {
    .table{
        width: 600px;
    }
    .tabelaDeElencos{
        overflow-x: scroll;
    }
    .TelaDeElencoHeaderMobile{
        display: block;
        margin-bottom: 4px;
    }
    .TelaDeElencoHeaderDesktop{
        display: none;
    }
    .elencoTdClube{
        min-width: 200px;
    }
    .elencoTdNome{
        min-width: 200px;
    }
    .elencoTdPosicao{
        min-width: 120px;
    }
}