.tabelaDeElencos{
    
    margin: auto;
}

.TelaDeElencoContainer{
    padding: 5%;
}

@media (max-width:800px) {
    .table{
        width: 600px;
    }
    .tabelaDeElencos{
        overflow-x: scroll;
    }
    .TelaDeElencoHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
}