.rankingMain{
    padding:1% 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:30px;
    border: solid black 1px;
    border-radius: 5px ;
    height: 100%;
}
.rankingContainer{
   display: grid;
   grid-template-columns: 1fr 3fr;
   margin: 2.5%;
   gap: 30px;
}

.rankingAside{

  border: 1px black solid;
  border-radius: 5px;
  padding: 2%;
  height: 100%;
}
.participantesTitulo{
  margin: 1%;
  text-align: center;
}
.rankingTituloTemporada{
  margin-top: 80px;
  text-align: center;
}
.carregandoRanking{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  width: 100vw;
  background-color: rgba(1, 1, 1, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 4;
}
.carregandoRankingContent{
   background-color: white;
   padding: 80px;
   border-radius: 5px;
   z-index: 5;
}
.estatistica{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:30px;
  margin-bottom: 30px;
}

.cabecacalhoEstatisticas{
  text-align: center;
  margin: 15px;
}
.tituloEstatisticas{
  text-align: center;
}
.semDadosEstatisticos{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: grey;
}

.XAxis{
  color: red;
}

@media (max-width:1300px) {
   .estatistica{
    grid-template-columns: 1fr 1fr;
   }
}

@media (max-width:980px) {
  .rankingAside{
    margin: 2%;
  }
  .grafico{
    width: 95vw;
    margin: auto;
  }
  .estatistica{
    grid-template-columns: 1fr  ;
  }
  .rankingContainer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    
  }

  .rankingMain{
    padding:1% 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
    margin: 2%;
  }
 }

@media (max-width:800px) {
  .rankingContainer{
    grid-template-columns: 1fr;
 }
   .rankingMain{
       grid-template-columns: 1fr;
   }
   .grafico{
    width: 95vw;
    height: 300px;
    margin-left: -4%;
  }

 }
