.Appbar{
    display: flex;
    padding: 10px 2%;
}

.linkRegras{
    color: white;
    
}
@media (max-width:800px) {
    .rankingContainer{
     grid-template-columns: 1fr;
    }
    .linkRegras{
        color: black;
        
    }
  }